<%- include("partials/header"); -%>

    <h1>Home</h1>

    <p><%= ejsHomeStartingContent %></p>

    <%for (let i of ejsPosts){%>
        <% console.log(i.title);%>
        <% console.log(i.content);%>
    <%}%>

    <%for (let i of ejsPosts){%>
        <h1><%= i.title %></h1>
        <% for(let j in i){ %>
            
                <p> <%=i[j]; %></p>
            
        <% } %>
    <%}%>






<%- include("partials/footer"); -%>