<%- include("partials/header"); -%>

    <h1>Home</h1>

    <p><%= ejsHomeStartingContent %></p>

    <%for (let i of ejsPosts){%>
        <a href="/posts/<%= i.title %>"><h1><%= i.title %></h1></a>
        <p><%= i.content.substring(0, 100) + "..." %></p>
    <%}%>

<%- include("partials/footer"); -%>