<%- include("partials/header"); -%>

    <h1>Home</h1>

    <p><%= ejsHomeStartingContent %></p>

    <%for (let i of ejsPosts){%>
        <h1><%= i.title %></h1>
        <p><%= i.content %></p>
    <%}%>






<%- include("partials/footer"); -%>